<% if @supplier.any? %>
  <% @supplier.each do |s| %>
    <li title="<%= s.name %>(助记码:<%= s.cap_name %>)" onclick="tuihuo_select_a_supp(this)"><%= s.name %></li>
  <% end %>
<% else %>
  <li>无</li>
<% end %>