<button onclick="storage_new('new_material')">新建商品</button>
<button>订货</button>
<button>入库</button>
<button>出库</button>
<button>打印清单</button>
<button>打印条码</button>
<button>退货</button>
<button>报损</button>
<button>盘点</button>
