<% if is_hover("xianchang") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("xianchang1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">施工现场</a></li>
      <li <% if is_hover("xianchang2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">技术分配</a></li>
      <li <% if is_hover("xianchang3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">出勤</a></li>
    </ul>
  </div>
<% elsif is_hover("shouyin") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("shouyin1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">收银</a></li>
    </ul>
  </div>
<% elsif is_hover("yinxiao") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("yinxiao1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">活动</a></li>
      <li <% if is_hover("yinxiao2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">商品</a></li>
      <li <% if is_hover("yinxiao3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">服务</a></li>
      <li <% if is_hover("yinxiao4") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">卡类</a></li>
    </ul>
  </div>
<% elsif is_hover("kehu") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("kehu1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">客户列表</a></li>
      <li <% if is_hover("kehu2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">客户回访</a></li>
      <li <% if is_hover("kehu3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">短信管理</a></li>
    </ul>
  </div>
<% elsif is_hover("tongji") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("tongji1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">客户</a></li>
      <li <% if is_hover("tongji2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">营销</a></li>
      <li <% if is_hover("tongji3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">库存</a></li>
      <li <% if is_hover("tongji4") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">员工</a></li>
    </ul>
  </div>
<% elsif is_hover("kucun") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("kucun1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">库存列表</a></li>
      <li <% if is_hover("kucun2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">出入库记录</a></li>
      <li <% if is_hover("kucun3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">订货记录</a></li>
      <li <% if is_hover("kucun4") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">报损记录</a></li>
      <li <% if is_hover("kucun5") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">退货记录</a></li>
    </ul>
  </div>
<% elsif is_hover("caiwu") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("caiwu1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">收入</a></li>
      <li <% if is_hover("caiwu2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">费用</a></li>
      <li <% if is_hover("caiwu3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">往来</a></li>
      <li <% if is_hover("caiwu4") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">成本</a></li>
      <li <% if is_hover("caiwu5") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">资产</a></li>
      <li <% if is_hover("caiwu6") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">报表</a></li>
    </ul>
  </div>
<% elsif is_hover("yuangong") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("yuangong1") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">员工列表</a></li>
      <li <% if is_hover("yuangong2") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">工资表</a></li>
      <li <% if is_hover("yuangong3") %>class="hover"<% end %>><a class="scd_menu_a" href="javacript:void(0)">出勤</a></li>
    </ul>
  </div>
<% elsif is_hover("station_datas", "set_stores", "set_functions") %>
  <div class="scdMenuBox">
    <ul class="scdMenu cf">
      <li <% if is_hover("station_datas") %>class="hover"<% end %>><a class="scd_menu_a" href="/stores/<%= @store.id %>/station_datas">工位设置</a></li>
      <li <% if is_hover("set_stores", "set_functions") %>class="hover"<% end %>><a class="scd_menu_a" href="/stores/<%= @store.id %>/set_stores">门店设置</a></li>
      <li><a class="scd_menu_a" href="/stores/<%= @store.id %>/set_functions">权限设置</a></li>
    </ul>
  </div>
<% end %>